@charset "utf-8";


/* Start: TRACK (Captions and Chapters) */
.mejs-controls .mejs-captions-button {
	position:relative;
}
.mejs-controls .mejs-captions-button button {
	background-position:-48px 0;
}
.mejs-controls .mejs-captions-button .mejs-captions-selector {
	visibility:hidden;
	position:absolute;
	bottom:20px;
	right:-10px;
	width:130px;
	height:100px;
	background-color:#FFF;
	opacity:0.9;
	border:solid 1px #999;
	padding:6px;
	overflow:hidden;
	-webkit-border-radius:0.4em;
	   -moz-border-radius:0.4em;
			border-radius:0.4em;
	z-index:1012;
}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul {
	display:block;
	list-style-type:none !important;
	overflow:hidden;
}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li{
	margin:0 0 6px 0;
	list-style-type:none !important;
	display:block;
	overflow:hidden;
}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li input{
	clear:both;
	float:left;
	margin:3px 3px 0 5px;
}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li label{
	width:100px;
	float:left;
	padding:4px 0 0 0;
	line-height:15px;
	font-size:10px;
}
.mejs-controls .mejs-captions-button .mejs-captions-translations {
	font-size:10px;
	margin:0 0 5px 0;
}
.mejs-chapters {
	position:absolute;
	top:0;
	left:0;
	-xborder-right:solid 1px #fff;
	width:10000px;
	z-index:900;
}
.mejs-chapters .mejs-chapter {
	position:absolute;
	float:left;
	background:#222;
	background:rgba(0, 0, 0, 0.7);		
	overflow:hidden;
	border:0;
}
.mejs-chapters .mejs-chapter .mejs-chapter-block {
	font-size:11px;
	color:#FFF;
	padding:5px;
	display:block;
	border-right:solid 1px #333;
	border-bottom:solid 1px #333;
	cursor:pointer;
}
.mejs-chapters .mejs-chapter .mejs-chapter-block-last {
	border-right:none;
}
.mejs-chapters .mejs-chapter .mejs-chapter-block:hover {
	background:#666;
	background:rgba(102,102,102, 0.7);
}
.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-title{
	font-size:12px;
	font-weight:bold;
	display:block;
	white-space:nowrap;
	text-overflow:ellipsis;
	margin:0 0 3px 0;
	line-height:12px;
}
.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-timespan{
	font-size:12px;
	line-height:12px;
	margin:3px 0 4px 0;
	display:block;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.mejs-captions-layer {
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
	width:100%;
}
.mejs-captions-layer  a {
	color:#FFF;
	text-decoration:underline;
}
.mejs-captions-layer[lang=ar] {
	font-size:20px;
	font-weight:normal;
}
.mejs-captions-position {
	position:absolute;
	width:100%;
	bottom:15px;
	left:0;
}
.mejs-captions-position-hover {
	bottom:45px;
}
.mejs-captions-text {
	padding:0.2em;
	background:url(../../images/mep/background.png);
	background:rgba(20, 20, 20, 0.8);
	line-height:1.4em;
	font-size:1em;
	color:#FFF;
}
/* End: TRACK (Captions and Chapters) */