@charset "utf-8";

/* Start: Mute/Volume */
.mejs-controls .mejs-volume-button {
	position:relative;
}
.mejs-controls .mejs-mute button > i.fa-volume-off {
	display:inline;
}
.mejs-controls .mejs-unmute button > i.fa-volume-up {
	display:inline;
}
.mejs-controls .mejs-volume-button .mejs-volume-slider {
	display:none;
	height:115px;
	width:25px;
	background:url(../../images/mep/background.png);
	background:rgba(50, 50, 50, 0.7);
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
	top:-115px;
	left:0;
	z-index:901;
	position:absolute;
	margin:0;
}
.mejs-controls .mejs-volume-button:hover {
	-webkit-border-radius:0 0 4px 4px;
	   -moz-border-radius:0 0 4px 4px;
			border-radius:0 0 4px 4px;
}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-total {
	position:absolute;
	left:11px;
	top:8px;
	width:2px;
	height:100px;
	background:#DDD;
	background:rgba(255, 255, 255, 0.5);
	margin:0;
}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current {
	position:absolute;
	left:11px;
	top:8px;
	width:2px;
	height:100px;
	background:#DDD;
	background:rgba(255, 255, 255, 0.9);
	margin:0;
}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle {
	position:absolute;
	left:4px;
	top:-3px;
	width:16px;
	height:6px;
	background:#DDD;
	background:rgba(255, 255, 255, 0.9);
	cursor:N-resize;
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
			border-radius:3px;
	margin:0;
}

/* horizontal version */
.mejs-controls div.mejs-horizontal-volume-slider {
	width:60px;
	position:relative;
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	position:absolute;
	left:0;
	top:11px;
	width:50px;
	height:8px;
	margin:0;
	padding:0;
	font-size:1px;	/* wtf */
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
			border-radius:2px;	
	background:#333;
	background:rgba(50,50,50,0.8);
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	position:absolute;
	left:0;
	top:11px;
	width:50px;
	height:8px;
	margin:0;
	padding:0;
	font-size:1px;	/* wtf */
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
			border-radius:2px;
	background:#FFF;
	background:rgba(255,255,255,0.8);
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
	display:none;
}