@charset "utf-8";

/*	MobileSiteOS calendar widget style properties, (don't change these). It is better
	to add your own style sheets or inline styles: Copyright©2008-2011 - OpenSiteMobile */

  #calendar_container {
    width:320px;
    height:362px;
  }
  #calendar_header, #calendar_footer, #calendar_control {
    width:316px;
  }
  #calendar_control {
    top:25px;
  }
  #calendar_footer {
    top:332px;
  }
  #calendar_table {
    top:50px;
    left:1px;
    width:314px;
    height:240px;
  }
  #calendar_table, #calendar_table th, #calendar_table td {
    font-size:medium;
  }
  #display_date {
	font-size:medium;
	line-height:1.6em;
  }
  .cal_ctrls {
	font-size:small;
  }