@charset "utf-8";

/*	MobileSiteOS colortool widget style properties, (don't change these). It is better
	to add your own style sheets or inline styles: Copyright©2008-2011 - OpenSiteMobile */

  #colortool_container {
    width:200px;
    height:370px;
  }
  #colortool_header {
    width:196px;
  }
  #ct_buttons {
    width:186px;
  }
  .ct_saved_colors {
    width:98%;
    height:20px; 
  }
  .ws_img {
    width:11px;
    height:14px;
  }
  #colortool_input {
    width:174px;
  }
  /* Ref tab.css for rest of tab spec. */
  #colortool_display .tab_content {
    height:306px;
  }
  #colortool_display .tab_content_inner {
    height:240px;
  }