@charset "utf-8";

/*	MobileSiteOS size specific css, (you typically don't change these). It is better
	to add your own style sheets or inline styles: Copyright©2008-2011 - OpenSiteMobile */

a,
abbr,
address,
article,
aside,
b,
blockquote,
body,
button,
caption,
cite,
code,
dd,
del,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
header,
hgroup,
hr,
html,
i,
iframe,
input,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
select,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
thead,
time,
tr,
ul,
var {
  font-size: small;
}
th {
  font-size: medium;
}
h1 {
  font-size: large;
}
h2 {
  font-size: medium;
}
h3 {
  font-size: small;
}
h4 {
  font-size: x-small;
}
section {
  width: 470px;
}
#body, #pyromane, #debug {
  width: 480px;
}
#rotate_marquee {
  height: 62px;
}
#marquee {
  width: 474px;
  font-size: xx-large;
  top: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
}
#slogan {
  width: 474px;
  font-size: small;
  top: 50px;
  left: 0;
  height: 12px;
  line-height: 12px;
}

.btn,
.add-on {
  line-height: 1.3em;
  padding: 0.2em 0.4em;
}
.msos_height {
  height: 480px;
}
.msos_width {
  width: 460px;
}
.msos_box {
  padding: 0 10px;
}
.msos_legend_link {
  left: -25%;
}

/* Google AdSense sizing */
.osm-responsive-2014 {
  width: 468px;
  height: 60px;
}

/* MSOS Grid specific css */
.row {
  width: 100%;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row div[class*="span"] {
  display: inline-table;
  min-height: 1em;
  vertical-align: top;
}
.row .span12 {
  width: 98%;
}
.row .span11 {
  width: 89.5%;
}
.row .span10 {
  width: 81.8%;
}
.row .span9 {
  width: 73.9%;
}
.row .span8 {
  width: 65.4%;
}
.row .span7 {
  width: 57.1%;
}
.row .span6 {
  width: 48.8%;
}
.row .span5 {
  width: 40.6%;
}
.row .span4 {
  width: 32.2%;
}
.row .span3 {
  width: 24.1%;
}
.row .span2 {
  width: 15.8%;
}
.row .span1 {
  width: 7.5%;
}

.row.adjust {
  width: 96%;
}
/* Set Grid to single column */
.row.adjust > div[class*="span"] {
  display: inline-block;
  width: 85%;
}
/* Reverse for small display */
.row.adjust > div.text_rt {
  text-align: left;
}