@charset "utf-8";

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html, body, table, div, article, section, fieldset {
	font-style: normal;
	font-weight: normal;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-decoration: none;
}
html {
	overflow-y: scroll;
}
body {
	margin-bottom: 0.5em;	/* Helps insure msos.stickup works smoothly */
}
th,
td {
	padding: 0.5em;
}
article {
	margin-bottom: 0.4em;
}
section {
	padding-bottom: 0.3em;
}
p {
  text-align: left;
}
dl, ul, ol, dt {
	font-weight: bold;
}
dd, li {
	text-align: left;
}
dl {
  margin-top: 0;
  margin-bottom: 1.2em;
}
dd {
  margin-left: 0;
}
video {
	height: auto;
	width: 100%;
}
audio {
	max-width: 640px;
	width: 100%;
}
iframe,
fieldset {
	border: 1px solid #CCC;
}
fieldset {
	border-radius: 0.7em;
	overflow: auto;
}
legend {
	color: #999;
	font-weight: bold;
	margin-left: 1em;
	padding: 0 0.4em;
	text-align: left;
	white-space: normal;
}
ul,
ol {
	padding: 0;
	margin: 0;
}
ul > li {
	list-style: none;
}
ol > li {
	list-style-image: none;
	list-style-type: decimal;
}
pre {
	padding: 5px;
	text-align: left;
	white-space: pre;
}
a {
	text-decoration: none;
}
a:focus,
button:focus {
	outline: thin dotted;
	outline-offset: -2px;
}
a:active,
a:hover {
	outline: 0;
}
input,
select,
textarea {
	border: 1px solid #CCC;
	border-radius: 0.4em;
	color: #555555;
	display: inline-block;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 0.2em;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
			box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
}
input:focus,
select:focus,
textarea:focus {
	outline: thin dotted;
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
            box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
}
input[type="image"] {
    -webkit-box-shadow:none;
            box-shadow:none;
}
textarea .readonly {
	height: auto;
	width: auto;
}
select {
	background-color: #F5F5F5;
}
select[multiple],
select[size] {
	height: auto;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */
  line-height: normal;
}
input[type="file"] {
	display: block;
}
input[type="range"] {
	display: block;
	width: 100%;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: thin dotted;
	outline-offset: -2px;
    -webkit-box-shadow:none;
			box-shadow:none;
}
input:invalid,
textarea:invalid {
	background-color: #F0DDDD;
}
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
	border-color: #EE5F5B;
	color: #B94A48;
}
input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
	border-color: #E9322D;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
	background-color: #EEE;
	border-color: #DDD;
	cursor: not-allowed;
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
output {
  display: block;
  padding-top: 0.6em;
  font-size: 1em;
  line-height: 1.2em;
  color: #555;
}

#body, #popup, #pyromane {
	background-color: #FFF;
	border-radius: 0.5em;
	margin-left: auto;
	margin-right: auto;
	padding: 2px;
}
#body,
#pyromane {
	margin-top: 0.2em;
}
#header, #footer,
#pyromane_toolbar {
	border-radius: 0.4em;
	margin: 0.4em;
	padding: 0.3em;
}
#header > ul > li,
#footer > ul.breadcrumb > li {
	display: none;
}
#pyromane {
	border: 1px solid #9f9f9f;
	overflow-x: hidden;
	display: none;
}
#rotate_marquee {
	position: relative;
}
#marquee {
	position: absolute;
	font-weight: bold;
}
#slogan {
	position: absolute;
	vertical-align: middle;
}
#content {
	overflow-x: hidden;
}
#pop_smaller,
#pop_larger {
	position: relative;
}
#pop_smaller {
	cursor: s-resize;
	right: 3px;
}
#pop_larger {
	cursor: n-resize;
	left: 3px;
}
#pop_center {
	cursor: move;
	font-size: small;
	font-weight: bold;
}
#footer > #copyright {
	float: right;
}

.fitmedia,
.fitimg {
	padding: 0;
	position: relative;
	width: 100%;
}
.fitmedia iframe,
.fitmedia object,
.fitmedia embed,
.fitmedia video,
.fitmedia audio {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
.fitimg img {
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	min-width: 101%;
	min-height: 101%;
}

.text_rt {
	text-align: right;
}
.text_lt {
	text-align: left;
}
.pad_lt {
	padding-left: 0.4em;
}
.pad_rt {
	padding-right: 0.4em;
}
.pull_rt,
.pull-right {
	float: right !important;
}
.pull_lt,
.pull-left {
	float: left !important;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.no_br {
	white-space: nowrap;
}
.bold_text {
	font-weight: bold;
}
.space {
	padding: 1px;
}
.muted {
	color: #999999;
}

.msos_popup {
	z-index: 1500;
}
.msos_sticky {
	position: relative;
}
.msos_display {
	background-color: #FFF;
	border: 1px solid #EEE;
	border-radius: 0.4em;
	margin: 0.4em;
	padding: 0.3em;
	overflow: auto;
}
.msos_list li {
	background-position: 0 0.1em;
	padding-left: 1em;
}
.msos_spacer {
	color: #FFF;
	font-size: inherit;
	font-weight: bold;
	margin-left: 4px;
	text-shadow: -1px -1px 0 #000;
}
.msos_legend {
	margin: 1.5em 0;
	padding: 0.2em 0.5em;
	border: 1px solid #CCC;
	border-radius: 0.4em;
}
.msos_legend_link {
	display: inline;
	padding: 1px 4px;
	position: relative;
	top: -0.6em;
	left: -33%;
}
.msos_legend_inner {
	padding: 2px;
	position: relative;
	text-align: justify;
	top: -0.3em;
}

.html5_color_btn,
.html5_date_btn,
.html5_num_ctrl {
	float: left;
}
.html5_color_btn {
	width: 3em;
}
.html5_num_ctrl {
	position: relative;
	top: 0.3em;
}
.accesskey {
	color: red;
	text-decoration: underline;
}
.mobile_ad {
	overflow: hidden;
}
.pgrph,
.msos_legend_inner {
	line-height: 1.4em;
	margin-bottom: 0.5em;
	text-align: justify;
}
.pgrph img {
	float: left;
	margin-right: 8px;
}
.header_popup {
	background-color: #FFCC88;
	background-color: rgba(255,204,136,1);
	border-color: #EFEFEF #999 #999 #EFEFEF;
	border-style: solid;
	border-width: 1px;
	font-size: xx-small;
}

.placeholder,
input::-webkit-input-placeholder,
input:-moz-placeholder {
	color: #AAA;
}
.color,
input[type=color] {
	width: 6em;
}
input[type=text].color {
	width: 5.5em;
}
.number,
input[type=number] {
	width: 4em;
}
input[type=text].number {
	width: 2.6em;
}

#notify_container {
	position: absolute;
	width: 18em;
	z-index: 9999;
}
.notify {
	background-color: #111;
	border-radius: 0.4em;
	margin-bottom: 1em;
	opacity: 0.9;
	padding: 1.2em;
}
.notify:hover {
	opacity: 1;
}
.notify_title {
	font-weight: bold;
}
.notify_title,
.notify_msg {
	color: #FFF;
	font-size: larger;
	margin-bottom: 0.4em;
	padding: 0 0.4em;
}
.notify > i {
	float: left;
}
.notify_display > button {
	float: right;
}
.notify > i.info {
	color: blue;
}
.notify > i.warning {
	color: yellow;
}
.notify > i.error {
	color: red;
}
.notify > i.success {
	color: green;
}
.notify > i.loading {
	color: orange;
}

.box {
	float: left;
	line-height: 1.1em;
	margin-left: 0.4em;
	margin-top: 0.6em;
	moz-box-sizing: border-box;
	padding: 0.4em;
}
.box img {
	display: block;
	width: 100%;
}
.box * {
	font-size: smaller;
}
.rtl .box {
	direction: rtl;
	float: right;
	text-align: right;
}
.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.wordbreak {
	ms-word-break: break-all;
	word-break: break-all;
}
.xsl_submit {
	width: 25px;
}
.sml_submit {
	width: 35px;
}
.med_submit {
	width: 50px;
}
.lrg_submit {
	width: 70px;
}

#google_ad {
	opacity: 0;
}
#google_ad iframe {
	border: none;
}
#google_analytic {
	position: absolute;
}
#map_canvas {
	display: none;
}
#googlecart-widget-control {
	margin-top: 8px;
	visibility: hidden;
}
#googlecart-widget-body {
	border-color: red;
	border-radius: 4px;
}
#google_translate_element {
	display: inline-block;
}
#google_toggle_button {
	display: inline-block;
}
#trans_toggle {
	cursor: pointer;
	display: none;
	margin-right: 2px;
	position: relative;
	top: -1px;
}

.spin,
.fa-spin {
  display: inline-block;
}
.addthis_toolbox {
	margin: 0 auto;
	width: 170px;
}
.scroll_auto {
	overflow: auto;
}
.scroll_gutter_vert,
.scroll_gutter_horz,
.scroll_corner {
	background: #D3D3D3;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
	height: 0;
    visibility: hidden;
}

.visually_hidden {
	clip: rect(1px,1px,1px,1px);
	position: absolute;
}
.visually_hidden.focusable:active,
.visually_hidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
