@charset "utf-8";

/*	MobileSiteOS 'div#debug_container' style properties, (don't change these). It is better
	to add your own style sheets or inline styles: Copyright©2008-2011 - OpenSiteMobile
*/

  #debug_container {
    position:absolute;
    visibility:hidden;
    border:2px outset grey;
	border-radius:5px;
  }
  #debug_header {
    position:absolute;
	border-radius:4px;
    z-index:70;
  }
  #debug_close {
	float:right;
    z-index:100;
  }
  #debug_display {
    position:absolute;
    top:24px;
    left:0;
	overflow:auto;
    z-index:100;
  }
  #debug_container button {
	font-size:small;
  }
  