@charset "utf-8";

#pyromane_log * {
	font-size:x-small;
}
#pyromane_log > div {
	position:relative;
	border:1px solid #EEE;
	border-bottom:1px solid #AAA;
	border-radius:0.4em;
	padding:2px 2px 3px 20px;
	text-align:left;
	cursor:text;
	line-height:1.2em;
}
.pyromane_tabs li {
	list-style:none;
	display:inline;
	margin-left:3px;
}
.pyro_obj_null {
	padding:2px;
	background-color:gray;
	color:#FFFFFF;
}
.pyro_obj_string {
	color:red;
}
.pyro_obj_func,
.pyro_obj_text {
	color:blue;
}
.pyro_obj_date,
.pyro_obj_number {
	color:darkblue;
}
.pyro_obj_object {
	color:darkgreen;
}
.pyro_obj_empty {
	color:orange;
}
.pyro_info	{ background:lightblue url(../images/info_icon.png) no-repeat 2px 2px; }
.pyro_warn	{ background:lightyellow url(../images/warn_icon.png) no-repeat 2px 2px; }
.pyro_error	{ background:salmon url(../images/error_icon.png) no-repeat 2px 2px; }
.pyro_log	{ background:lightgrey; }

